# Ignorar archivo de variables de entorno
.env

# Ignorar bases de datos SQLite
*.db
*.sqlite3

# Archivos de logs
*.log

# Archivos de sistema o de entorno
__pycache__/
*.py[cod]
*.swp
.DS_Store

# Entornos virtuales
venv/
.env/
.venv/
